.avatar-pic-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-pic-text img{
  margin-left: 10px;
}

a{
  overflow: hidden;
}

#app > div > nav > div.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
